<%= render 'shared/errors', object: @courier %>

<%= form_with model: @courier do |f| %>
    <div class='mb-3 row'>
        <div class='col-sm-1 col-form-label'>
            <%= f.label :name %>
        </div>

        <div class='col-sm-4'>
            <%= f.text_field :name, required: true, class: 'form-control' %>
        </div>
    </div>

    <div class='mb-3 row'>
        <div class='col-sm-1 col-form-label'>
            <%= f.label :email %>
        </div>
       

        <div class='col-sm-4'>
            <%= f.email_field :email, required: true, class: 'form-control' %>
        </div>
    </div>

    <%= f.submit "Submit!", class: 'btn btn-primary' %>
<% end %>